.navbar {
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background-color: aquamarine;
    border-bottom: 1px solid rgb(185, 224, 241);
}

.navbar .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}