
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: 'Amiri', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  max-width: 1200px;
  margin: auto;
}

.btn {
  color: rgb(207, 248, 235);
  padding: 12px 24px;
  background-image: linear-gradient(45deg, #585 0%, #589 100%);
  border: none; 
  border-radius: 8px;
  font-size: 1rem;
  transition: .4s;
  cursor: pointer;
}

.btn:ative {
  transform: translate(4px);
box-shadow: 0px 0px 1px rgba(0,0,0,0,.2);
border-bottom: none;
}
